---
layout: default
---

<section class="content">
	<article class="post">
		<h2><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h2>
		<div class="date">{{ page.date | date: site.date_format }}</div>
		{% if page.vimeo %}
		<div class="video-container">
			<iframe src="https://player.vimeo.com/video/{{ page.vimeo }}" frameborder="0" width="500" height="281" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
		{% endif %}
		{{ content }}
	</article>
</section>
